
<mat-toolbar color="primary">
  <span>V-Cinema</span>
  <span class="spacer"></span>

  <a routerLink=""       mat-button routerLinkActive="active">Home</a>
  <a routerLink="search" mat-button routerLinkActive="active">Search</a>

  <!-- Ovo dodajemo sada: -->
  <a routerLink="login"    mat-button routerLinkActive="active">Login</a>
  <a routerLink="register" mat-button routerLinkActive="active">Register</a>

  <a routerLink="cart"     mat-button routerLinkActive="active">Cart</a>
</mat-toolbar>
<router-outlet />
