<div *ngIf = "error">
    <h3>Oops, an error occured!</h3>
    <p style="color: red">{{error}}</p>
</div>

<div *ngIf="movies" class="image-container" >
    <mat-card class="example-card" appearance="outlined" *ngFor="let movie of movies" >
  <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h1> {{movie.title}}</h1>
    <p>{{ movie.runTime}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions>
</mat-card>

    <!--<p *ngFor="let movie of movies">{{movie.corporateId}}</p>
     <pre> {{movies | json }}</pre> -->
</div>

<div *ngIf="!movies && !error">
    
</div>

